---
layout: default
---

<div class="home">
  <div class="full-hero">
    <div class="hero-content">
      <h1>My Daily Adobe</h1>
      <ul class="social-list">
        <li>
          <a  class="social-link">
            <!-- <i class="fas fa-envelope-square"></i> -->
          </a>
        </li>
        <li>
          <a  class="social-link">
            <!-- <i class="fa fa-twitter"></i> -->
          </a>
        </li>
        <li>
          <a  class="social-link">
            <!-- <i class="fa fa-github"></i> -->
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="home-callout">
    <h1 class="callout-title">The Adobe Story </h1>
    <div class="callout-copy">
      <p>
        A blog for stay at home moms trying to find creative solutions to everydaylife
      </p>
      <p>
        I am a registered nurse and home-tech that is passionate about helping you find creative solutions to problems in everydaylife.
      </p>
      <h3>Background</h3>
      <p>
       This blog was forged out of a strong desire to help what I consider a critical component of the family unit and society....... <strong>MOMS</strong>.
      </p>
    </div>
  </div>

  <div class="home-section">
    <h4>Most recent post</h4>
    {% for post in site.posts limit:1 %}
      {% include post-excerpt.html %}
    {% endfor %}

  </div>

  <div class="home-section">
    <h2></h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="bio-wrapper">
      <div class="bio-box">
        <img src="/images/Travel.jpg">
        <h3>Travel</h3>
        <!-- <a href="http://twitter.com/mhartl" class="social-link"> -->
          <!-- <i class="fa fa-twitter"></i> -->
        <!-- </a> -->
        <div class="bio-copy">
          <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="/images/breakfast.jpg">
        <h3>Food & Nutrition</h3>
        <!-- <a href="https://twitter.com/leedonahoe" class="social-link"> -->
          <!-- <i class="fa fa-twitter"></i> -->
        <!-- </a> -->
        <div class="bio-copy">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="/images/planning.jpg">
        <h3>Travel</h3>
        <!-- <a href="https://twitter.com/nickmerwin" class="social-link"> -->
          <!-- <i class="fa fa-twitter"></i> -->
        <!-- </a> -->
        <div class="bio-copy">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
